[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/linenoise-ng"]
	path = external/linenoise-ng
	url = https://github.com/qingqibing/linenoise-ng.git
[submodule "external/concurrentqueue"]
	path = external/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "external/unordered_dense"]
	path = external/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "external/glaze"]
	path = external/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "external/SDL2"]
	path = external/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/nanovg"]
	path = external/nanovg
	url = https://github.com/timothyschoen/nanovg
[submodule "external/pffft"]
	path = external/pffft
	url = https://bitbucket.org/jpommier/pffft.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/rtmidi"]
	path = external/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "external/simde"]
	path = external/simde
	url = https://github.com/simd-everywhere/simde.git
[submodule "external/readerwriterqueue"]
	path = external/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "external/libsamplerate"]
	path = external/libsamplerate
	url = https://github.com/libsndfile/libsamplerate
[submodule "external/SignalsmithDSP"]
	path = external/SignalsmithDSP
	url = https://github.com/Signalsmith-Audio/dsp
[submodule "external/choc"]
	path = external/choc
	url = https://github.com/Tracktion/choc
