[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/linenoise-ng"]
	path = external/linenoise-ng
	url = https://github.com/qingqibing/linenoise-ng.git
[submodule "external/concurrentqueue"]
	path = external/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "external/unordered_dense"]
	path = external/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "external/glaze"]
	path = external/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "external/SDL2"]
	path = external/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/nanovg"]
	path = external/nanovg
	url = https://github.com/timothyschoen/nanovg
[submodule "external/pffft"]
	path = external/pffft
	url = https://bitbucket.org/jpommier/pffft.git
